{% extends 'base.html' %}

{% block body %}
        <title> TO DO LIST </title>
        <link rel="stylesheet" href="/static/list.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    

    <body>
        <div class="center-column"> 
            <h3>To Do</h3>

            <form action="/" method = "POST">

                {% csrf_token %}
                {{form.title}}
                <input class="btn1 btn btn-info"  type="submit" name="Create Task">

            </form>

            <div class="todo-list">

                {% for task in tasks %}
                <div class="item-row">
                    <a class=" btn btn-sm btn-info" href="{% url 'updatetask' task.id %}">Update</a>
                    <a class="btn2 btn btn-sm btn-danger" href="{% url 'delete' task.id %}">Delete</a>

                    {% if task.complete == True %}
                    <strike>{{task}}</strike>
                    {% else %}
                    <span>{{task}}</span>
                    {% endif %}

                </div>

                {% endfor %}
            </div>  
        </div>

        
    </body>
{% endblock %}






