body{
    max-width: 1000px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}



.del{
    width: 600px;
    margin-left: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 6px 2px 30px 0px rgba(0,0,0,0.75);
}

.up{
    width: 600px;
    margin-left: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 6px 2px 30px 0px rgba(0,0,0,0.75);
}